# env
.env
.env.*
!.env.example

# node
node_modules/
dist/
build/

# logs
*.log

# n8n data / local data
.n8n/
**/*.sqlite
**/*.db

# uploads (ถ้ามี)
uploads/

# frontend
frontend/node_modules
frontend/dist

# backend
backend/node_modules

# general
node_modules
dist
.env
